/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button {
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;

  border: none;
  outline: none;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.button:hover {
  background: #6c8cff;
}

.input-search {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #fff;
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: 1px solid #808080;
}

.input-search:focus {
  border: 1px solid #4e75ff;
}

.input-search::placeholder {
  color: #989898;
}

.loader {
  display: block;
  margin: 0 auto;
}
.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;

  background-color: #fff;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 8px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Montserrat', sans-serif;

  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
